<div class="form-container">
  <form class="form-container" (submit)="submit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Nome" name="designacao" [(ngModel)]="editPagina.designacao" required autofocus />
      <mat-error *ngIf="!editPagina.designacao">Tem de preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Descrição" name="descricao" [(ngModel)]="editPagina.descricao" required />
      <mat-error *ngIf="!editPagina.descricao">Tem de preencher este campo!</mat-error>
    </mat-form-field>

    <mat-checkbox name="usarBanner" [(ngModel)]="usarBanner">Usar Banner</mat-checkbox>

    <mat-form-field *ngIf="usarBanner">
      <input matInput type="text" placeholder="Título do Banner" name="editBannerDesignacao" [(ngModel)]="editBanner.designacao" required />
      <mat-error *ngIf="!editBanner.designacao">Tem de preencher este campo!</mat-error>
    </mat-form-field>

    <div *ngIf="hasBanner">
      <div class="form-group" *ngIf="usarBanner">
        <label>Ficheiro atual:</label>
        <div>{{editBanner.texto}}</div>
      </div>
    </div>

    <div class="form-group" *ngIf="usarBanner">
      <label for="file">Imagem para o banner:</label>
      <input type="file" class="form-control-file" name="file" (change)="onFileChange($event.target.files)" required />
    </div>

    <button mat-button type="submit">GUARDAR</button>
    <button mat-button type="button" routerLink="/Paginas">CANCELAR</button>
  </form>
</div>