<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches"
    *ngIf="loginService.hasLoadedSite()">
    <mat-toolbar color="primary">cmsUTAD</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/Site">Início</a>
      <a mat-list-item routerLink="/Utilizadores">Grupo de Trabalho</a>
      <a mat-list-item routerLink="/Paginas">Páginas</a>
      <a mat-list-item routerLink="/Categorias">Categorias</a>
      <a mat-list-item routerLink="/Artigos">Artigos</a>
      <a mat-list-item routerLink="/Noticias">Notícias</a>
      <a mat-list-item routerLink="/Eventos">Eventos</a>
      <a mat-list-item routerLink="/Menus">Menus</a>
      <a mat-list-item routerLink="/Conteudos">Conteúdos Externos</a>
      <a mat-list-item routerLink="/Sites">Sair</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{toolbar.title}}</span>
      <span class="fill-remaining-space"></span>

      <button *ngFor="let button of toolbar.buttonList" type="button" mat-button routerLink="{{button.routerLink}}">{{button.name}}</button>
      
      <button type="button" aria-label="Terminar Sessão" mat-button (click)="logout()" *ngIf="loginService.isLoggedIn()">TERMINAR SESSÃO</button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>