<div class="form-container">
  <form class="form-container" (submit)="submit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Título" name="titulo" [(ngModel)]="editSite.titulo" required autofocus />
      <mat-error *ngIf="!editSite.titulo">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Designação" name="designacao" [(ngModel)]="editSite.designacao" required />
      <mat-error *ngIf="!editSite.designacao">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="URL" name="descricao" [(ngModel)]="editSite.descricao" required />
      <mat-error *ngIf="!editSite.descricao">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Logótipo" name="logo" [(ngModel)]="editSite.logo" />
    </mat-form-field>

    <button mat-button type="submit">GUARDAR</button>
    <button mat-button type="button" routerLink="/Site">CANCELAR</button>
  </form>
</div>