<div class="form-container">
  <form class="form-container" (submit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Título" name="designacao" [(ngModel)]="newArtigo.designacao" required autofocus/>
      <mat-error *ngIf="!newArtigo.designacao">Tem que preencher este campo!</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Texto" rows="15" cols="50" name="texto" [(ngModel)]="newArtigo.texto" required></textarea>
      <mat-error *ngIf="!newArtigo.texto">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-checkbox name="publicar" [(ngModel)]="publicar">Publicar Artigo</mat-checkbox>

    <h1 class="mat-h1">Categorias</h1>
    <mat-table [dataSource]="categorias">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox ></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox name="isSelected + {{row.idItem}}" [(ngModel)]="row.isSelected"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="designacao">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.designacao}}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <button mat-button type="submit">CONFIRMAR</button>
    <button mat-button type="button" routerLink="/Artigos">CANCELAR</button>
  </form>
</div>