<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="descricao">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.descricao}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="editmenu">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button type="button" routerLink="/Menus/Edit/{{row.idMenu}}">EDITAR</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deactivatemenu">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button type="button" (click)="deactivate(row.idMenu)">DESATIVAR</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>