<div class="form-container">
  <form class="form-container" (submit)="submit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Nome" name="designacao" [(ngModel)]="editCategoria.designacao" />
      <mat-error *ngIf="!editCategoria.designacao">Tem de preencher este campo!</mat-error>
    </mat-form-field>

    <button mat-button type="submit">GUARDAR</button>
    <button mat-button type="button" routerLink="/Categorias">CANCELAR</button>
  </form>
</div>