<div class="form-container">
  <form class="form-container" (submit)="submit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Título" name="titulo" [(ngModel)]="newSite.titulo" required autofocus />
      <mat-error *ngIf="!newSite.titulo">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Designação" name="designacao" [(ngModel)]="newSite.designacao" required />
      <mat-error *ngIf="!newSite.designacao">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="URL" name="descricao" [(ngModel)]="newSite.descricao" required />
      <mat-error *ngIf="!newSite.descricao">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Logótipo" name="logo" [(ngModel)]="newSite.logo" />
    </mat-form-field>

    <button type="submit" mat-button>CONFIRMAR</button>
    <button type="button" mat-button routerLink="/Sites">CANCELAR</button>
  </form>
</div>