<div class="form-container">
  <form class="form-container" (submit)="submit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Título" name="deisgnacao" [(ngModel)]="editConteudo.designacao" required />
      <mat-error *ngIf="!editConteudo.designacao">Tem de preencher este campo!</mat-error>
    </mat-form-field>

    <div class="form-group">
      <label>Ficheiro atual:</label>
      <div>{{editConteudo.texto}}</div>
    </div>

    <div class="form-group">
      <label for="file">Ficheiro para substituição:</label>
      <input type="file" class="form-control-file" name="file" (change)="onFileChange($event.target.files)" required autofocus/>
    </div>

    <mat-checkbox name="publicar" [(ngModel)]="publicar">Publicar Conteúdo</mat-checkbox>

    <h1 class="mat-h1">Categorias</h1>
    <mat-table [dataSource]="categorias">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox ></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox name="isSelected + {{row.idItem}}" [(ngModel)]="row.isSelected"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="designacao">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.designacao}}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <button mat-button type="submit">GUARDAR</button>
    <button mat-button type="button" routerLink="/Conteudos">CANCELAR</button>
  </form>
</div>