<div class="form-container">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      {{node.menuItem.designacao}}
      <button mat-icon-button title="Adicionar um novo item de menu a este nodo" (click)="addMenuItem(node)"><mat-icon>add</mat-icon></button>
      <button mat-icon-button title="Remover este item de menu deste nodo" (click)="removeMenuItem(node)"><mat-icon>remove</mat-icon></button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button
              [attr.aria-label]="'toggle ' + node.menuItem.designacao" matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.menuItem.designacao}}
      <button mat-icon-button title="Adicionar um novo item de menu a este nodo" (click)="addMenuItem(node)"><mat-icon>add</mat-icon></button>
      <button mat-icon-button title="Remover este item de menu deste nodo" (click)="removeMenuItem(node)"><mat-icon>remove</mat-icon></button>
      <mat-progress-bar *ngIf="node.isLoading"
                        mode="indeterminate"
                        class="example-tree-progress-bar"></mat-progress-bar>
    </mat-tree-node>
  </mat-tree>
</div>