<div class="form-container">
  <form class="form-container" (submit)="submit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Nome de Utilizador" name="username" [(ngModel)]="utilizador.username" autofocus />
    </mat-form-field>

    <button mat-button type="submit">ENTRAR</button>
  </form>
</div>