<div class="form-container">
  <form class="form-container" (submit)="submit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Nome" name="newPaginaDesignacao" [(ngModel)]="newPagina.designacao" required autofocus />
      <mat-error *ngIf="!newPagina.designacao">Tem de preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Descrição" name="descricao" [(ngModel)]="newPagina.descricao" required />
      <mat-error *ngIf="!newPagina.descricao">Tem de preencher este campo!</mat-error>
    </mat-form-field>

    <mat-checkbox name="usarBanner" [(ngModel)]="usarBanner">Usar Banner</mat-checkbox>

    <mat-form-field *ngIf="usarBanner">
      <input matInput type="text" placeholder="Título do Banner" name="newBannerDesignacao" [(ngModel)]="newBanner.designacao" required />
      <mat-error *ngIf="!newBanner.designacao">Tem de preencher este campo!</mat-error>
    </mat-form-field>

    <div class="form-group" *ngIf="usarBanner">
      <label for="file">Imagem para o banner:</label>
      <input type="file" class="form-control-file" name="file" (change)="onFileChange($event.target.files)" required />
    </div>

    <button mat-button type="submit">CONFIRMAR</button>
    <button mat-button type="button" routerLink="/Paginas">CANCELAR</button>
  </form>
</div>