<div class="form-container">
  <form class="form-container" (submit)="submit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Título" name="designacao" [(ngModel)]="newEvento.designacao" required autofocus />
      <mat-error *ngIf="!newEvento.designacao">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="15" cols="50" placeholder="Texto" name="texto" [(ngModel)]="newEvento.texto" required></textarea>
      <mat-error *ngIf="!newEvento.texto">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="dataInicioPicker" placeholder="Data de Início" name="dataInicio" [(ngModel)]="newEvento.dataInicio" required />
      <mat-datepicker-toggle matSuffix [for]="dataInicioPicker"></mat-datepicker-toggle>
      <mat-datepicker #dataInicioPicker></mat-datepicker>
      <mat-error *ngIf="!newEvento.dataInicio">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="dataFimPicker" placeholder="Data de Fim" name="dataFim" [(ngModel)]="newEvento.dataFim" required />
      <mat-datepicker-toggle matSuffix [for]="dataFimPicker"></mat-datepicker-toggle>
      <mat-datepicker #dataFimPicker></mat-datepicker>
      <mat-error *ngIf="!newEvento.dataFim">Tem que preencher este campo!</mat-error>
    </mat-form-field>

    <mat-checkbox name="publicar" [(ngModel)]="publicar">Publicar Evento</mat-checkbox>

    <button mat-button type="submit">CONFIRMAR</button>
    <button mat-button type="button" routerLink="/Eventos">CANCELAR</button>
  </form>
</div>