/* You can add global styles to this file, and also import other style files */
.form-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.form-container > * {
  width: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}