<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="designacao">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Título</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.designacao}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataInicio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data de Início</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.dataInicio}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataFim">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data de Fim</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.dataFim}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="publicado">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngSwitch]="row.publicado">
        <div *ngSwitchCase="0">Rascunho</div>
        <div *ngSwitchCase="1">Publicado</div>
        <div *ngSwitchCase="2">Arquivado</div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="editevento">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button type="button" routerLink="/Eventos/Edit/{{row.idItem}}">EDITAR</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deleteevento">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button type="button" (click)="delete(row.idItem)">ELIMINAR</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>